<ion-header>
  <ion-navbar>
    <ion-title>
      Advice
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <ion-card class='narrow-card'>
    <ion-card-header>
      Useful advice
    </ion-card-header>
    <div class="age-label" [style.left.%]="age.ageLabelPosition[age.ageSelected.lower]" color="primary">{{age.label[age.ageSelected.lower]}}</div>
    <div class="age-label" [style.left.%]="age.ageLabelPosition[age.ageSelected.upper-1]" color="primary">{{age.label[age.ageSelected.upper]}}</div>
    <ion-item class="age-range-container"> 
      <ion-range min="0" max="8" step="1" snaps="true" dualKnobs="true" debounce="100" [(ngModel)]="age.ageSelected"></ion-range>
    </ion-item>
    <div class='advice-container'> 
      <div class='category-title'>Useful advice</div>
      <template ngFor let-k [ngForOf]="[0,1,2,3,4,5,6,7,8]">
        <template [ngIf]="k >= age.ageSelected.lower && k<= age.ageSelected.upper">
          <div class='advice-content'>{{advice[k]}}</div>
        </template>
      </template>
    </div>
    <div class='category-title'>Tips of the day</div>
    <div class='sub-category'>
      <ion-icon name="nutrition"></ion-icon>
      Nutrition
    </div>
    <div class="specialized-advice-container">
      <div style="font-weight:bold;">Vegetables before fruits</div>
      <div>As fruit are sweeter than other food, you should introduce them the latest or your baby will expect any food to be sweet.</div>
    </div>
    <div class='sub-category'>
      Nursery
    </div>
    <div class="specialized-advice-container">
      <div style="font-weight:bold;">Nursery is not the only solution</div>
      <div>Did you that alternatives exist to nursery schools? You may want to take a look at crèches for example.</div>
    </div>
  </ion-card>
</ion-content>
