page-advice {

}

div.age-label{
    display: inline;
}

.age-label{
  width: auto;
  position: relative;
  z-index: 1;
  top: 5px;
}

.advice-container{
    min-height: 50px;
    text-align: justify;
}

.specialized-advice-container{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.advice-content{
    padding: 16px;
}