<ion-header>
  <ion-navbar>
    <ion-title>
      Emergency
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <ion-card class='narrow-card'> 
    <form (ngSubmit)="getAdvice()" class="emergency-form">
      <div class='category-title'>Discribe the emergency</div>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" [(ngModel)]="emergency.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="emergency.description" name="description"></ion-textarea>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="camera"></ion-icon>
        <ion-icon name="attach"></ion-icon>
      </div>
      <div class="submit-button-container">
        <button type="submit" ion-button class='submit-button'>Get advice</button>
        <!--<button ion-button class='submit-button' onclick="changeLanguage()">Change language</button>-->
      </div>
    </form>   
    <div class='advice-holder'>
      <div id='advice'></div>
    </div>
  </ion-card>
  <ion-card class='narrow-card'>
    <div class='translation-container'>
      <div class='category-title'>Translation</div>
      <ion-item>
        <ion-label class='label'>Language</ion-label>
        <ion-select [selectOptions]="selectOptions" [(ngModel)]="translation.language">
          <ion-option value="german" selected="true">German</ion-option>
          <ion-option value="french">French</ion-option>
          <ion-option value="italian">Italian</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Text to translate</ion-label>
        <ion-textarea [(ngModel)]="translation.input" name="translation-input"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Translation</ion-label>
        <ion-textarea [(ngModel)]="translation.output" name="translation-output"></ion-textarea>
      </ion-item>
      <div class="submit-button-container">
        <button ion-button class='submit-button' (click)="translate()">Translate</button>
      </div>
    </div>
  </ion-card>
</ion-content>
