page-about {

}

form div ion-icon {
    padding-top: 1rem;
    display: inline;
    padding-left: 16px;
}

.icon-container{
    font-size: 2rem;
}

.submit-button-container{
    width: 100%;
    text-align: center;
}

.submit-button{
    height: 3.3rem;
    margin-bottom:1rem;
}
/*.emergency-form{
    border: dotted 1px grey;
}*/

.translation-container, .emergency-form{
    padding-top: 10px;
}

form.emergency-form ion-item{
    border-bottom: solid 1px #dedede;
}

.advice-container{
    padding: 16px;
    border-top: dotted 1px #dedede;
    font-style: italic;
}
