<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <ion-card class='narrow-card'>
    <ion-card-header>
      Health Information - {{userData.firstname}} {{userData.surname}}
    </ion-card-header>
    <ion-list>
      <ion-item>
        <div class='label'>First Name:</div>
        <div>{{userData.firstname}}</div>
      </ion-item>
      <ion-item>
        <div class='label'>Last Name:</div>
        <div>{{userData.surname}}</div>
      </ion-item>
      <ion-item>
        <div class='label'>Birth Date:</div>
        <div>{{userData.birthdate | date:'d MMM. yyyy'}} ({{userData.age}} Year)</div>
      </ion-item>
      <div *ngFor="let measurement of userData.measurements" >
        <ion-item>
          <div class='label'>Current height:</div>
          <div>{{measurement.height.value}}{{measurement.height.measure}}</div>
          <ion-icon item-right name="stats" (click)="heightPopover()"></ion-icon>
        </ion-item>
        <ion-item>
          <div class='label'>Current weight:</div>
          <div>{{measurement.weight.value}}{{measurement.weight.measure}}</div>
          <ion-icon item-right name="stats"></ion-icon>
        </ion-item>
      </div>
      <ion-item>
        <div class='label'>Insurance Plan:</div>
        <div>Silver Ins. (ref 21521374)</div>
        <ion-icon item-right name="information-circle"></ion-icon>
      </ion-item>
    </ion-list>
    <div class='category-title'>Intolerances and Allergies</div>
    <div class='sub-category'>Food</div>
    <ion-list>
      <ion-item class='first-item'>
        <ion-label>Lactose</ion-label>
        <ion-icon item-right name="information-circle"></ion-icon>
      </ion-item>
      <ion-item>Gluten
        <ion-icon item-right name="information-circle"></ion-icon>
      </ion-item>
      <ion-item>Peanut
        <ion-icon item-right name="information-circle"></ion-icon>
      </ion-item>
    </ion-list>
    <div class='sub-category'>Drugs</div>
    <ion-list>
      <ion-item class='first-item'>Penicillin
        <ion-icon item-right name="information-circle"></ion-icon>
      </ion-item>
    </ion-list>
    <div class='category-title'>Ongoing Treatment</div>
    <ion-list>
      <ion-item>None</ion-item>
    </ion-list>
    <div class='category-title'>History</div>
    <div class='sub-category'>Vaccines</div>
    <ion-list>
      <ion-item class='first-item'>DTP
        <ion-icon item-right name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      <ion-item>IPV
        <ion-icon item-right name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      <ion-item>Hib
        <ion-icon item-right name="alert"></ion-icon>
      </ion-item>
    </ion-list>
    <div class='sub-category'>Consulations</div>
    <ion-list>
      <ion-item class='first-item'>15 Jul. 2016: Everything normal</ion-item>
      <ion-item>7 Feb. 2016: IPV vaccine.</ion-item>
      <ion-item>15 Jan. 2016: Flu.</ion-item>
    </ion-list>
    <div class='sub-category'>Key Moments</div>
    <ion-list>
      <ion-item class='first-item'>First steps:</ion-item>
      <ion-item>First tooth:</ion-item>
    </ion-list>
  </ion-card>
</ion-content>
