page-profile {
    font-size: 1.6rem;
    margin: auto;
}

.page{
    background-color: #59cd90;
}

ion-card.narrow-card{
    max-width: 600px;
    margin: auto;
    margin-bottom: 16px;
}

ion-card-header{
    color: #296b89;
    font-weight: bold;
}

.card-md{
    font-size: 1.6rem;
}

.category-title{
    color: #296b89;
    font-weight: bold;
    text-align: center;
}

.sub-category{
    color: #296b89;
    font-weight: bold;
    padding-left: 16px; 
}

.first-item{
    border:0 !important;
}

ion-item div{
    display: inline;
}

.label{
    color: #3fa7d6 !important;
}