<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Profile" tabIcon="heart-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Emergency" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Advice" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Community" tabIcon="contacts"></ion-tab>
</ion-tabs>
