<ion-header>
  <ion-navbar>
    <ion-title>
      Community
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <ion-card class='narrow-card'>
    <ion-item>
      <ion-label>Select a community</ion-label>
      <ion-select [(ngModel)]="community">
        <ion-option value="russian" selected="true">Russian</ion-option>
        <ion-option value="german">German</ion-option>
        <ion-option value="french">French</ion-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <div *ngFor="let activity of activities" class="activity">
        <div class="activity-title">{{activity.date}} - {{activity.title}}</div>
        <div class="activity-description">{{activity.description}}</div>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
